.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    transform: translateX(0);
    margin-top: 15px;
}

@keyframes marquee {
    0% {
        transform: translate(-20%, -50%);

    }

    100% {
        transform: translate(-50%, -50%);

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner {
    width: 100%;
    background-color: #ffb3e2;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.logo-container {
    margin: 0;
    padding-top: 2%;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);

}

.navbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;

}

.navbar2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 180px;
    position: fixed;
}

.navbar2 .links a {
    text-decoration: none;
    color: inherit;
}

.navbar2 .links {
    padding-left: 50%;
    padding-top: 20px;
    transform: translateX(-20%);
    display: flex;
    gap: 2rem;
    list-style: none;
    color: #000000;
    font-size: 1.5rem;
}

.market:hover {
    color: #ffb3e2;
    font-size: 30px;
    transition: 0.3s;

}

.market {
    color: black;
    display: inline-block;
    margin: 0;
    font-size: 25px;
    padding-right: 10%;
    padding-top: 1%;

}


@media (max-width: 1350px) {

    .navbar2 .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: inline-block;
    }
}


.toggle_btn {
    position: absolute;
    color: black;
    margin: 0;
    font-size: 25px;
    padding-left: 10%;
    padding-top: 1%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: none;
}

.toggle_btn.active {
    position: absolute;
    color: black;
    margin: 0;
    font-size: 25px;
    padding-left: 35%;
    padding-top: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 2000;
}

.dropdown_menu {
    position: fixed;
    left: 0;
    top: 30px;
    height: 100%;
    width: 35%;
    background: #ffb3e2;
    border-radius: 0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 999;
}

.dropdown_menu.open {
    transform: translateX(0);
}

.dropdown_menu li {
    gap: 2rem;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 1.5rem;
    margin-top: 30px;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown_menu li:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.1s;
}

.dropdown_menu li a {
    text-decoration: none
}


@media (max-width: 576px) {
    .dropdown_menu {
        width: 100%;
    }
}