.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    transform: translateX(0);
    /* Yazı hemen yerinde olsun */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
        /* Başlangıçta yazı kendi yerinde duracak */
    }

    100% {
        transform: translateX(-100%);
        /* Yazı sola doğru kayacak */
    }
}

.banner {
    width: 100%;
    background-color: #f0a8cc;
    color: white;
    padding: 5px 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#logo {
    color: pink;
    font-size: 75px;
}